---
import BtnAnexo from '../_components/BtnAnexo.astro'
import ListPontuacao from '../_components/ListPontuacao.astro'
import SelectPontos from '../_components/SelectPontos.astro'

const rows5s = [
    {
        item: "1 Conscientização de 5S - A loja atende ao programa de 5 S na sua totalidade",
        descricao: "O Check list do 5S está devidamente preenchido",
        peso: "5,0%",
        pontos: "5",
    },
    {
        item: "2 Melhoria dos resultados de 5S - A evolução pode ser percebida e isso está gerando o reconhecimento periódico dos melhores resultados.",
        descricao: "Frequencia de auditorias estão sendo realizadasVerificar como o reconhecimento é realizado. Bate papo com o Time para verificação de conhecimento da ferramenta",
        peso: "4,0%",
        pontos: "4",
    }
]


const rowsGente = [
    {
        item: "3 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "4 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "5 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "6 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "7 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "8 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "9 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "10 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "11 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "12 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "13 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "14 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "15 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "16 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "17 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "18 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "19 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
]


const rowsGestao = [
    {
        item: "20 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "21 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "22 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "23 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
]


const rowsArea = [
    {
        item: "24 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "25 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
    {
        item: "26 ",
        descricao: "",
        peso: "%",
        pontos: "",
    },
]



---

<style>
    .aval-line-sub td{
        font-weight: bold;
        background-color: #eee;
    }
</style>

<div class="table-responsive">
    <table class="table table-bordered table-fixed small text-center">
        <thead>
            <th style="width: 300px">Item</th>
            <th style="width: 070px">Anexo</th>
            <th style="width: 250px">Pontuação</th>
            <th style="width: 070px">Peso</th>
            <th style="width: 070px">Pontos</th>
            <th style="width: 110px">Pontos Alcançado</th>
        </thead>

        <tbody>
            <tr class="aval-line-sub">
                <td colspan="3" class="text-start">5 S</td>
                <td>9,0%</td>
                <td>9</td>
                <td></td>
            </tr>
            {
                rows5s.map(({ item, descricao, peso, pontos }) => (
                    <tr>
                        <td class="text-start">
                            <div class="d-flex align-items-baseline justify-content-between gap-1">
                                <div>{item}</div>

                                <div data-bs-toggle="tooltip" data-bs-title={descricao}>
                                    <i class="bi bi-info-circle-fill text-secondary icon-tab fs-6"></i>
                                </div>
                            </div>
                        </td>

                        <td>
                            <BtnAnexo />
                        </td>

                        <td>
                            <ListPontuacao />
                        </td>

                        <td>{peso}</td>
                        <td>{pontos}</td>

                        <td>
                            <SelectPontos />
                        </td>
                    </tr>
                ))
            }


            <tr class="aval-line-sub">
                <td colspan="3" class="text-start">Gente</td>
                <td>66%</td>
                <td>66</td>
                <td></td>
            </tr>
            {
                rowsGente.map(({ item, descricao, peso, pontos }) => (
                    <tr>
                        <td class="text-start">
                            <div class="d-flex align-items-baseline justify-content-between gap-1">
                                <div>{item}</div>

                                <div data-bs-toggle="tooltip" data-bs-title={descricao}>
                                    <i class="bi bi-info-circle-fill text-secondary icon-tab fs-6"></i>
                                </div>
                            </div>
                        </td>

                        <td>
                            <BtnAnexo />
                        </td>

                        <td>
                            <ListPontuacao />
                        </td>

                        <td>{peso}</td>
                        <td>{pontos}</td>

                        <td>
                            <SelectPontos />
                        </td>
                    </tr>
                ))
            }


            <tr class="aval-line-sub">
                <td colspan="3" class="text-start">Gestão</td>
                <td>16%</td>
                <td>16</td>
                <td></td>
            </tr>
            {
                rowsGestao.map(({ item, descricao, peso, pontos }) => (
                    <tr>
                        <td class="text-start">
                            <div class="d-flex align-items-baseline justify-content-between gap-1">
                                <div>{item}</div>

                                <div data-bs-toggle="tooltip" data-bs-title={descricao}>
                                    <i class="bi bi-info-circle-fill text-secondary icon-tab fs-6"></i>
                                </div>
                            </div>
                        </td>

                        <td>
                            <BtnAnexo />
                        </td>

                        <td>
                            <ListPontuacao />
                        </td>

                        <td>{peso}</td>
                        <td>{pontos}</td>

                        <td>
                            <SelectPontos />
                        </td>
                    </tr>
                ))
            }


            <tr class="aval-line-sub">
                <td colspan="3" class="text-start">Área Interna / Vestiários</td>
                <td>9%</td>
                <td>9</td>
                <td></td>
            </tr>
            {
                rowsGestao.map(({ item, descricao, peso, pontos }) => (
                    <tr>
                        <td class="text-start">
                            <div class="d-flex align-items-baseline justify-content-between gap-1">
                                <div>{item}</div>

                                <div data-bs-toggle="tooltip" data-bs-title={descricao}>
                                    <i class="bi bi-info-circle-fill text-secondary icon-tab fs-6"></i>
                                </div>
                            </div>
                        </td>

                        <td>
                            <BtnAnexo />
                        </td>

                        <td>
                            <ListPontuacao />
                        </td>

                        <td>{peso}</td>
                        <td>{pontos}</td>

                        <td>
                            <SelectPontos />
                        </td>
                    </tr>
                ))
            }
        </tbody>
    </table>
</div>

