---
import CardCardBody from '@componentsLayout/CardCardBody.astro'
---

<CardCardBody>
    <h5 class="title-chart">Resultado por Categoria e Unidade</h5>
    <div class="box-chart boxResultadoCategoriaUnidade" id="chartdiv-resultado-categoria-unidade"></div>
</CardCardBody>

<script is:inline>
    am4core.ready(function() {

        am4core.useTheme(am4themes_animated);

        var chart = am4core.create("chartdiv-resultado-categoria-unidade", am4charts.XYChart);

        // Disable amChart Logo
        if(chart.logo){
            chart.logo.disabled = true;
        }

        chart.padding(20, 0, 0, 0);

        var data = [
            {
                "mes": "Jan",
                "faturamento": 5.164,
                "meta": 5.164
            },
            {
                "mes": "Fev",
                "faturamento": 4.272,
                "meta": 4.272
            },
            {
                "mes": "Mar",
                "faturamento": 8.040,
                "meta": 8.040
            },
            {
                "mes": "Abr",
                "faturamento": 26.210,
                "meta": 26.210
            },
            {
                "mes": "Mai",
                "faturamento": 58.901,
                "meta": 58.901
            },
            {
                "mes": "Jun",
                "faturamento": 54.376,
                "meta": 54.376
            },
            {
                "mes": "Jul",
                "faturamento": 124.095,
                "meta": 124.095
            },
            {
                "mes": "Aug",
                "faturamento": 141.972,
                "meta": 141.972
            },
            {
                "mes": "Set",
                "faturamento": 181.496,
                "meta": 181.496
            },
            {
                "mes": "Out",
                "faturamento": 181.496,
                "meta": 2000.781
            },
            {
                "mes": "Nov",
                "faturamento": 178.934,
                "meta": 178.934
            },
            {
                "mes": "Dez",
                "faturamento": 0,
                "meta": 105.721
            },
        ];

        /* Create axes */
        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "mes";
        categoryAxis.renderer.minGridDistance = 10;
        categoryAxis.renderer.labels.template.horizontalCenter = "center";
        categoryAxis.renderer.labels.template.verticalCenter = "middle";
        categoryAxis.renderer.labels.template.rotation = 0;

        /* Create value axis */
        var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.renderer.labels.template.disabled = true;

        /* Retirando as linhas Verticais e Horizontais */
        categoryAxis.renderer.grid.template.disabled = true;
        valueAxis.renderer.grid.template.disabled = true;

        /* Create series */
        var columnSeries = chart.series.push(new am4charts.ColumnSeries());
        columnSeries.dataFields.valueY = "faturamento";
        columnSeries.name = "faturamento";
        columnSeries.dataFields.categoryX = "mes";
        //columnSeries.fill = am4core.color("#12B2A6");
		columnSeries.tooltip.label.textAlign = "middle";
		columnSeries.columns.template.tooltipText = "[#fff font-size: 14px]{name} {categoryX}:\n[/][#fff font-size: 16px]{valueY}"
        columnSeries.columns.template.propertyFields.fillOpacity = "fillOpacity";
		columnSeries.columns.template.strokeWidth = 0;
		columnSeries.columns.template.column.cornerRadiusTopLeft = 20;
		columnSeries.columns.template.column.cornerRadiusTopRight = 20;
		columnSeries.columns.template.column.fillOpacity = 1;

        var valueLabel = columnSeries.bullets.push(new am4charts.LabelBullet());
        //valueLabel.label.text = "{valueY}"; //valor dentro da coluna
        valueLabel.label.fontSize = 11;
        valueLabel.label.verticalCenter = "top";
        valueLabel.locationY = 0.5;

        function criarLinha(field, name, color) {
			var lineSeries = chart.series.push(new am4charts.LineSeries());
			lineSeries.name = name;
			lineSeries.dataFields.valueY = field;
			lineSeries.dataFields.categoryX = "mes";
			lineSeries.stroke = color;
			lineSeries.strokeWidth = 2;
			lineSeries.tensionX = 0.7;
			lineSeries.stroke = chart.colors.getIndex(0).lighten(0.5);
			lineSeries.strokeDasharray = "3,3";
			lineSeries.tooltip.label.textAlign = "middle";

            var bullet = lineSeries.bullets.push(new am4charts.Bullet());
            bullet.fill = color;

            bullet.tooltipText = "[#777 font-size: 14px]{name} {categoryX}:\n[/][#777 font-size: 16px]{valueY}"

            var circle = bullet.createChild(am4core.Circle);
            circle.radius = 4;
            circle.fill = am4core.color("#fff");
            circle.strokeWidth = 3;

            let labelBullet = lineSeries.bullets.push(new am4charts.LabelBullet());
            //labelBullet.label.text = "{valueY}"; //valor na linha
            labelBullet.label.fontSize = 12;
            labelBullet.label.verticalCenter = "bottom";
        }

        criarLinha("faturamento", "meta", am4core.color("#eee"));

        // Add legend
        chart.legend = new am4charts.Legend();

        // tamanho da legenda
        var markerTemplate = chart.legend.markers.template;
        markerTemplate.width = 20;
        markerTemplate.height = 20;

        chart.data = data;


        // as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
        columnSeries.columns.template.adapter.add("fill", function(fill, target){
            return chart.colors.getIndex(target.dataItem.index);
        });

    });
</script>
