---
import CardCardBody from '@componentsLayout/CardCardBody.astro'
---

<CardCardBody>
    <h5 class="title-chart">Chart 1</h5>
    <div class="box-chart" id="chartdiv-chart1" style="height: 400px;"></div>
</CardCardBody>

<script is:inline>
    am4core.ready(function() {

        am4core.useTheme(am4themes_animated);

        var chart = am4core.create("chartdiv-chart1", am4charts.XYChart);

        // Disable amChart Logo
        if(chart.logo){
            chart.logo.disabled = true;
        }

        chart.maskBullets = false;

        chart.padding(50, 0, 0, 0);

        // Add data
        chart.data = [
            {
                mes: "Jan",
                "col_ly": 6.8,
                "col_real": 6.6,
                "meta": 6.8
            },
            {
                mes: "Fev",
                "col_ly": 10,
                "col_real": 11.1,
                "meta": 10.5
            },
            {
                mes: "Mar",
                "col_ly": 8.5,
                "col_real": 9,
                "meta": 15.7
            },
            {
                mes: "Abr",
                "col_ly": 3,
                "col_real": 4.4,
                "meta": 6.3
            },
            {
                mes: "Mai",
                "col_ly": 18.0,
                "col_real": 18.6,
                "meta": 18.9
            },
            {
                mes: "Jun",
                "col_ly": 19,
                "col_real": 20.1,
                "meta": 21.5
            },
            {
                mes: "Jul",
                "col_ly": 4,
                "col_real": 4.5,
                "meta": 8.4
            },
            {
                mes: "Ago",
                "col_ly": 8,
                "col_real": 0.3,
                "meta": 10.5
            },
            {
                mes: "Set",
                "col_ly": 4.2,
                "col_real": 0,
                "meta": 4.2
            },
            {
                mes: "Out",
                "col_ly": 28,
                "col_real": 0,
                "meta": 27.2
            },
            {
                mes: "Nov",
                "col_ly": 60,
                "col_real": 0,
                "meta": 65
            },
            {
                mes: "Dez",
                "col_ly": 4.7,
                "col_real": 0,
                "meta": 4.7
            },
        ];

        // Create axes
        var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
        categoryAxis.dataFields.category = "mes";
        categoryAxis.renderer.labels.template.fontSize = 12;
        categoryAxis.renderer.labels.template.horizontalCenter = "center";
        categoryAxis.renderer.labels.template.verticalCenter = "middle";
        categoryAxis.renderer.labels.template.rotation = 0;
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.renderer.minGridDistance = 10;
        categoryAxis.renderer.cellStartLocation = 0.1;
        categoryAxis.renderer.cellEndLocation = 0.9;
        categoryAxis.renderer.marginBottom = 20;
        categoryAxis.renderer.grid.template.disabled = true;

        var  valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
        valueAxis.min = 0;
        valueAxis.renderer.labels.template.disabled = true;
        valueAxis.renderer.grid.template.disabled = true;

        // Create series
        function createSeries(field, name, stacked, color) {
            var series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.valueY = field;
            series.dataFields.categoryX = "mes";
            series.name = name;
            series.stacked = stacked;
            series.stroke = color;
            series.columns.template.column.cornerRadiusTopLeft = 20;
            series.columns.template.column.cornerRadiusTopRight = 20;
            series.columns.template.width = am4core.percent(95);
            series.columns.template.fill = color;
            series.columns.template.tooltipText = "{name}: [bold]{valueY}[/]";

            var labelBullet = series.bullets.push(new am4charts.LabelBullet());
            labelBullet.label.text = "{valueY}";
            labelBullet.locationY = -0.045;
            labelBullet.fontSize = 12;
            labelBullet.rotation = 0;
            labelBullet.dy = -5;

            if (name == "Leads") {
                labelBullet.disabled = "true";
            }

            //-----------------------------------------------------------------------
            //hide label 0 - user .adapter.add //https://www.amcharts.com/docs/v4/concepts/adapters/
            labelBullet.label.adapter.add("textOutput", function(text, target) {
                if(target.dataItem && target.dataItem.valueY == 0) {
                    return "";
                }
                return text;
            });
            //-----------------------------------------------------------------------
        }

        function createLine(field, name, color) {
            var lineSeries = chart.series.push(new am4charts.LineSeries());
            lineSeries.name = name;
            lineSeries.dataFields.valueY = field;
            lineSeries.dataFields.categoryX = "mes";
            lineSeries.stroke = chart.colors.getIndex(0).lighten(0.5);
            lineSeries.strokeWidth = 2;
            lineSeries.strokeDasharray = "3,3";
            lineSeries.tensionX = 0.7;
            lineSeries.tooltip.label.textAlign = "middle";
            lineSeries.dy = -25;

            var bullet = lineSeries.bullets.push(new am4charts.Bullet());
            bullet.dy = -25;
            bullet.fill = color;
            bullet.tooltipText = "[#777 font-size: 14px]{name} {categoryX}:\n[/][#777 font-size: 16px]{valueY}"

            var circle = bullet.createChild(am4core.Circle);
            circle.radius = 4;
            circle.fill = am4core.color("#fff");
            circle.strokeWidth = 3;

            let labelBullet = lineSeries.bullets.push(new am4charts.LabelBullet());
            labelBullet.label.text = "{valueY}"; //valor na linha
            labelBullet.label.fontSize = 12;
            labelBullet.label.verticalCenter = "bottom";
            labelBullet.label.fill = "#000";
            labelBullet.dy = -25;
        }

        createSeries("col_ly", "Item 1", false, am4core.color("#bbb"));
        createSeries("col_real", "Item 2", false, am4core.color("#ffb000"));
        createLine("meta", "Meta", am4core.color("#eee"));

        // Add legend
        chart.legend = new am4charts.Legend();
        chart.legend.labels.template.maxWidth = 100;
        chart.legend.labels.template.truncate = true;
        chart.legend.labels.template.wrap = true;

        // tamanho da legenda
        var markerTemplate = chart.legend.markers.template;
        markerTemplate.width = 15;
        markerTemplate.height = 15;
    });
</script>
